NervManagementConsoleREST/src/main/resources/MissionEvent.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://serviceSOAP.NervManagementConsoleREST.company.com/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="MissionEventServiceSoap"
                  targetNamespace="http://serviceSOAP.NervManagementConsoleREST.company.com/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://serviceSOAP.NervManagementConsoleREST.company.com/">
        <xsd:complexType name="Mission">
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="level" type="xsd:int" minOccurs="1"/>
            <xsd:element name="exp" type="xsd:int" minOccurs="1"/>
            <xsd:element name="synchronizationRate" type="xsd:int" minOccurs="1"/>
            <xsd:element name="tacticalAbility" type="xsd:int" minOccurs="1"/>
            <xsd:element name="supportAbility" type="xsd:int" minOccurs="1"/>
            <xsd:element name="durationTime" type="xsd:int" minOccurs="1"/>
            <xsd:element name="participantsMax" type="xsd:int" minOccurs="1"/>
            <xsd:element name="image" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="eventMission" type="xsd:boolean" minOccurs="1" default="true"/>
          </xsd:sequence>
        </xsd:complexType>
          <xsd:element name="addMissionEvent">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="mission" type="tns:Mission"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="addMissionEventResponse">
        <xsd:complexType>
          <xsd:sequence>
           	<xsd:element name="status" type="xsd:int"/>
          	<xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addMissionEventRequest">
    <wsdl:part element="tns:addMissionEvent" name="mission"/>
  </wsdl:message>
  <wsdl:message name="addMissionEventResponse">
    <wsdl:part element="tns:addMissionEventResponse" name="response"/>
  </wsdl:message>
  <wsdl:portType name="MissionEventServicePortType">
    <wsdl:operation name="addMissionEvent">
      <wsdl:input message="tns:addMissionEventRequest"/>
      <wsdl:output message="tns:addMissionEventResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MissionEventServiceBinding" type="tns:MissionEventServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addMissionEvent">
      <soap:operation soapAction="addMissionEvent"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://serviceSOAP.NervManagementConsoleREST.company.com/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://serviceSOAP.NervManagementConsoleREST.company.com/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MissionEventService">
    <wsdl:port binding="tns:MissionEventServiceBinding" name="MissionEventServicePort">
      <soap:address location="http://localhost:8080/NervManagementConsoleREST/soap/MissionEventServiceSoap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
